<div id="task.<%=h task.id %>" class="sc_task <%= @closed_status.include?(task.status_id) ? 'closed_task' : '' %>">
  <div class="task_no">
  	<span class="task_track_num task_tracker task_tracker_<%=h task.tracker.id %>">
  		<%= link_to [task.tracker, "#", task.id].join(" "),:controller => 'issues', :action => 'show', :id => task %> 
  		<%= link_to image_tag(File.join(@plugin_path, 'images', 'new_window.svg'),size: "16x13"),{:controller => 'issues', :action => 'show', :id => task}, :target=>'_blank' %>
  	</span>
  	
  	<span class="task_status"><%=h task.status%></span>
  	<img src="<%= File.join(@plugin_path, 'images', 'task_desc.png') %>" class="task_desc" width="12"/>
  </div>
  <div class="task_subject"><%=h task.subject  %></div>
  <hr class="horline"/>
  <a class="task_estimate fl actlink"><%=h task.estimated_hours || l(:label_sprints_placeholder_estimated) %></a>&nbsp;<span class="estimate_unit">h</span>
  <a class="fr task_owner actlink"><%=h task.assigned_to %></a>
</div>
