<div id="task.<%=h task.id %>" class="sc_task sc_<%= task.css_classes %>">
    <div class="task_no">
  	<span class="task_track_num task_tracker task_tracker_<%=h task.tracker.id %>">
  		<%= link_to [task.tracker, "#", task.id].join(" "),:controller => 'issues', :action => 'show', :id => task %> 
  		<%= link_to image_tag(File.join(@plugin_path, 'images', 'new_window.svg'),size: "16x13"),{:controller => 'issues', :action => 'show', :id => task}, :target=>'_blank' %>
  	</span>

  	
  	
	

  	<span class="task_status" title="<% if defined?(task.uis_unread) &&  (task.uis_unread==true)%><%=h l(:label_task_unread)%><%end%><% if defined?(task.uis_updated) &&  (task.uis_updated==true)%><%=h l(:label_task_updated)%><%end%>"></span>
  	<img src="<%= File.join(@plugin_path, 'images', 'task_desc.png') %>" class="task_desc" width="12"/>



  	<!--<%=h task.uis_updated%>
  	<%=h task.uis_unread%>-->
  </div>
  
  
  <div class="task_subject" title="<%=h task.subject %>"><%=h task.subject %></div>
  
	<%if defined?(task.priority) %>  
		<span class="priority"><%=task.priority%></span>
  	<%end%>

  
	<%if defined?(task.due_date) && task.due_date   	
			  if((task.due_date-Date.today).to_i)==0 
				dl_word="Сегодня"
				dl_class="dl_today"
			  elsif((task.due_date-Date.today).to_i)==1 
				dl_word="Завтра"
				dl_class="dl_tomorrow"
			  elsif((task.due_date-Date.today).to_i)==2 
				dl_word="Послезавтра"
				dl_class="dl_aftertomorrow"
			  elsif((task.due_date-Date.today).to_i)==-1 
				dl_word="Вчера"
				dl_class="dl_yesterday dl_overdued"
			  elsif((task.due_date-Date.today).to_i)==-2
				dl_word="Позавчера"
				dl_class="dl_beforeyesterday dl_overdued"
			  elsif((task.due_date-Date.today).to_i)<0 		
				dl_word=distance_of_date_in_words(Date.today, task.due_date) + " назад"
				dl_class="dl_hardoverdued dl_overdued"
			  else
				dl_word= "через " + distance_of_date_in_words(Date.today, task.due_date)
			  end
		%>	  
		<span class="deadline <%=dl_class%>">Срок: <%=dl_word%></span>
	<%end%>  
  
    <hr class="horline"/>
    <span class="project_info">			
 	 	Проект: <%=link_to h(task.project.name), {:controller=>'projects',:action => 'show', :id => task.project.id}%>
 	</span>

  <hr class="horline"/>

  
  <div class="task_row">
      <!--<div class="task_doneratio_slide"></div>-->
      <a class="task_owner fr actlink"><%=h task.assigned_to %></a>
  </div>
  
  
  
  <div class="fl">

  <% time_logger = time_logger_for(User.current) %>
  <%if time_logger%>
	  <% if time_logger.issue_id==task.id%>
	  	<% if time_logger.paused==true%>
	  		<span class="icon icon-pause timer-now-paused">
	        <%= link_to "&#9658;".html_safe,
	            {:controller => '/time_loggers', :action => 'resume' },
	            {:class => 'action-timer-resume',
	            'data-replace' => '#time-logger-menu',
	            :remote => true}
	        %>
	        
	        <%= link_to "&#9724;".html_safe,
	            {:controller => '/time_loggers', :action => 'stop' },
	            {:class => 'action-timer-stop'}
	        %>	        
	        </span>
	  	<% else %>
	  		<span class="icon icon-clock timer-now-running">
	        <%= link_to "&#10074;&#10074;".html_safe,
	            {:controller => '/time_loggers', :action => 'suspend' },
	            {:class => 'action-timer-suspend',
	            'data-replace' => '#time-logger-menu',
	            :remote => true} %>	 
	            
	        <%= link_to "&#9724;".html_safe,
	            {:controller => '/time_loggers', :action => 'stop' },
	            {:class => 'action-timer-stop'} 
	        %>		            
	        </span>     		
	  	<% end %>	
	  <%end %>
	<%else%>
		<span class="timer-startable">
        <%= link_to "Старт",
            { :controller => '/time_loggers', :action => 'start', :issue_id => task.id },
            :class => 'icon icon-start action-timer-start',
            'data-replace' => '#time-logger-menu',
            :remote => true
        %>
        </span>
  <%end%>
  </div>
  
  
  
  
  
  <!--<div class="task_doneratio_value fl"><%=h task.done_ratio || '0' %></div>-->
  <div class="fl task_estimate_params">
      <!--<div class="measure fl">%</div>-->

	  
	  <div class="fl task_estimate_params">
	      <div class="fl task_spent_time"><%=h task.spent.to_f.round(2) || '0' %></div>	    
	  </div>
	  
	  
	  <a class="task_add_spent fl actlink">
	  	<div class="measure fl">+</div>
	    <div class="task_add_spent_value fl">X</div>	    
	  </a>	  
      
      
      <div class="fl task_estimate_sep">/</div>
      <a class="task_estimate fl actlink"><%=h task.estimated_hours || l(:label_sprints_placeholder_estimated) %></a>
      <div class="measure fl">h</div>
  </div>
  
  <div class="remains_time fr">Осталось: &nbsp;
	  <div class="task_remains_time fr"><%=h (task.estimated_hours.to_f-task.spent.to_f).round(2) || 0 %></div>
  </div>

</div>